html {
    font-family: 'Open Sans', sans-serif;
    color: #2A2B2A
  }
  
  body {
    margin: 0;
    background: #FDFFFC;
  }

  h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 0.005em;
  }

  h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 16px;
    letter-spacing: 0.005em;
  }

  h3 {
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.005em;
  }

  h4 {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.005em;
  }

  h5 {
    font-weight: 300;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.005em;
  }

  h6 {
    font-weight: 300;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.005em;
  }
  
  .mainimg {
    max-height: 100%;
    max-width: 200px;
  }

  .intro {
    background-color: #B5CBB7;
    border: 2px solid #818479;
    padding: 1em;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.005em;
    color: #2A2B2A;
  }

  .button {
    background: #818479;
    border: none;
    color: #FDFFFC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button:hover {
    background: #D2E4C4;
    transition: 0.7s
  }

  .button:active {
    background: #B5CBB7;
  }

  a:link {
    text-decoration-line: underline;
    color: #B5CBB7;
  }

  a:hover { 
    text-decoration-line: underline;
    color: #E7E08B;
  }

  a:visited {
    text-decoration-line: underline;
    color: #818479;
  }

  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  nav {
    background-color: #B5CBB7;
    border: 2px solid #818479;
    padding: 1em;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }

@media screen and (min-width: 400px) and (max-width: 1000px) {
  body{
    background-color: #818479;
  }

  .intro {
    background-color: #FDFFFC;
    border: 2px solid #818479;
    padding: 1em;
  }

  .grid{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 1fr;
  }

  h1 {
    font-weight: 600;
    font-size: 25px;
    line-height: 16px;
    letter-spacing: 0.005em;
  }

  .mainimg {
    max-width: 200px;
    max-height: 300px;

  }
  h2 {
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.005em;
  }

  h3 {
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.005em;
  }

  p {
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.005em;
    color: #2A2B2A;
  }

}

@media screen and (min-width: 1080px) and (max-width: 1900px){
  
  .grid{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

}
